@font-face {
	font-family: Inerstate;
	src: local("Interstate Condensed Regular"),
		url(../fonts/Interstate-Condensed-Regular.otf);
}

@font-face {
	font-family: Lady-Copra;
	src: local("Lady Copra"),
		url(../fonts/Lady-Copra.ttf);
}

@font-face {
	font-family: Glasgow-Medium;
	src: local("Glasgow Medium"),
		url(../fonts/Glasgow-Medium.ttf);
}

html , body {
	width: 100%;
	background: url(../img/main.png);
	/*background-repeat: no-repeat;*/
}

h1 {
	font-family: Georgia , sans-serif;
	font-size: 20px;
	color: #2b5e5e;
	font-weight: 100;
	margin: 0;
	margin-bottom: 10px;
}

h2 {
	font-family: Inerstate , sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	color: #484848;
	font-weight: bold;
	margin-right: 10px;
}

h3 {
	font-family: Georgia , sans-serif;
	font-size: 11px;
	color: #278f7f;
	font-style: italic;
	cursor: pointer;
}


.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

/* шапка */

header {
	display: flex;
	flex-direction: row;
	margin-top: 40px;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 20px;
}

.news {
	margin-left: -8px;
	display: flex;
	flex-direction: column;
}

.hot-news {
	font-family: Inerstate , sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #545454;
	margin-bottom: 18px;
}

.hot-news img {
	cursor: pointer;
}

.span-hot-news {
	margin-right: 14px;
}

.news-lable {
	max-width: 250px;
	font-size: 11px;
	font-family: Georgia , sans-serif;
	color: #787878;
	font-style: italic;
}

.logo {
	cursor: pointer;
}

.main-logo {
	font-size: 57px;
	font-family: Lady-Copra , sans-serif;
	color: #339C8B;
	align-self: flex-start;
	margin-top: -16px;
}

.semi-logo {
	display: flex;
}

.txt-logo {
	font-family: Georgia , sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #8A9292;
}

.gray-line1 {
	height: 1px;
	width: 59px;
	background: #8A9292;
	margin-top: 6px;
	margin-right: 10px;
}

.gray-line2 {
	height: 1px;
	width: 51px;
	background: #8A9292;
	margin-top: 6px;
	margin-left: 11px;
}

.search {
	margin-top: 16px;
	margin-right: -10px;
	position: relative;
}

.input-search {
	width: 174px;
	height: 12px;
	padding: 6px 16px;
	border-radius: 10px;
	border: 1px solid #CACACA;
	outline:none;
}

.input-search:focus {
	border: 1px solid #339C8B;
}

.icon-search {
	width: 12px;
	height: 12px;
	position: absolute;
	right: 6px;
	top: 6px;
}

/* главная часть */

main {
	display: flex;
	flex-direction: column;
	background: white;
}

	/* меню */

.menu {
	background: url(../img/bg-menu.png);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	margin-left: -14px;
	margin-right: -13px;
}

.point-menu {
	display: flex;
	flex-direction: column;
	margin-top: -6px;
	padding: 16px 22px 13px 22px;
	align-items: center;
	color: #80371A;
	text-align: center;
	position: relative;
}

.outside-point-menu {
	display: flex;
}

.first-lable-menu {
	font-family: Glasgow-Medium , sans-serif;
	font-size: 23px;
	font-weight: bold;
	text-transform: uppercase;
	/*z-index: 2;*/ /*если включить будет 1 баг*/
}

.second-lable-menu {
	font-family: Georgia , sans-serif;
	font-size: 14px;
	font-style: italic;
	/*z-index: 2;*/ /*если включить будет 1 баг*/
}

.inside-menu {
	width: calc(100% - 20px);
	height: 70px;
	position: absolute;
	top: 0px;
	cursor: pointer;
}

.inside-menu:hover:before {
	content: "";
	position: absolute;
	left: -40px;
	top: 30px;
	height: 0;
	width: 60px;
	transform: rotate(270deg);
	border-bottom: 10px solid #9D7544;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.inside-menu:hover:after {
	content: "";
	height: 60px;
	position: absolute;
	right:-40px;
	top: 30px;
	height: 0;
	width: 60px;
	transform: rotate(90deg);
	border-bottom: 10px solid #9D7544;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.inside-menu:before {
	content: "";
	position: absolute;
	left: -10px;
	top: 0;
	height: 60px;
	width: 22px;
}

.inside-menu:after {
	content: "";
	position: absolute;
	right: -10px;
	top: 0;
	height: 60px;
	width: 22px;
}

.inside-menu:hover {
	background: #9D7544;
}

.inside-menu:hover ~ .first-lable-menu ,
.inside-menu:hover ~ .second-lable-menu {
	color: white;
	/*z-index: 2;/* /* ведет ко 2 багу - текст мигает */
}

	/* слайдер */

.slider {
	margin: 25px auto 29px auto;
	position: relative;
}


.white-circle {
	position: absolute;
	width: 30px;
	height: 30px;
	background: white;
	border-radius: 100%;
	top: 84px;
	cursor: pointer;
}

.circle-1 {
	left: -46px;
}

.circle-2 {
	right: -46px;
}

.img-arrow {
	position: absolute;
	top: calc(50% - 6.5px);
	left: calc(50% - 8px);
}

.img-arrow-2 {
	position: absolute;
	top: calc(50% - 6.5px);
	right: calc(50% - 8px);
}

.main-slider-img {
	position: relative;
}

.center-circle-slider {
	height: 188px;
	width: 188px;
	border-radius: 100%;
	background: #B4E7DF;
	position: absolute;
	top: calc(50% - 94px);
	left: calc(50% - 94px);
	text-align: center;
}

.line-center-circle-slider {
	height: 1px;
	width: 148px;
	background: #8DC3BB;
	margin-top: 22px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 18px;
}

.first-lable-circle {
	font-family: Inerstate , sans-serif;
	font-size: 15px;
	color: #278F7F;
	font-weight: bold;
	margin-top: 47px;
	text-transform: uppercase;
}

.second-lable-circle {
	font-family: Georgia , sans-serif;
	font-size: 11px;
	color: #7B7B7B;
	font-style: italic;
} 
	/* content and sidebar */

.content-sidebar {
	display: flex;
}

.content {
	display: flex;
	flex-direction: column;
	margin-left: 32px;
	flex-grow: 59;
}

.img-week {
	width: 47px;
	height: 47px;
	margin: 2px;
}

.img-13-week {
	display: flex;
}

.h2-h3-lable {
	display: flex;
}

.week-img {
	margin-bottom: 50px;
}

.latest-news-img {
	width: 232px;
	height: 164px;
}

.block-latest-news {
	display: flex;
	margin-bottom: 47px;
}

.left-block-h1 {
	max-width: 432px;
	padding-left: 30px;
}

.second-line-left-block {
	font-family: Georgia , sans-serif;
	font-size: 11px;
	font-style: italic;
	margin-bottom: 24px;
}

.green-txt-block {
	color: #278f7f;
}

.brown-txt-block {
	color: #9c8c6a;
}

.txt-3-block {
	font-size: 12px;
	font-family: Georgia , sans-serif;
	margin-bottom: 20px;
}

.icon-block {
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.line-4-block {
	display: flex;
}

.div-icon-block {
	margin-left: 18px;
	margin-right: 20px;
}

.block-comment {
	color: #7b7b7b;
	font-family: Georgia , sans-serif;
	font-size: 11px;
	font-style: italic;
	cursor: pointer;
	margin-top: -14px;
}

.block-mum-comment {
	padding: 6px;
	background: #F0E3C8;
	border-radius: 2px;
}

.grey-arrow-comment {
	width: 0;
	height: 0;
	border: 9px solid transparent;
	border-bottom-color: #F0E3C8;  
  	border-top: 0;
  	margin-left: 4px;
}

.div-videos-main {
	display: flex;
	margin-bottom: 60px;
}

.div-video {
	width: 432px;
	height: 250px;
	margin-right: 34px;
}

.left-video {
	position: relative;
}

.the-video {
	width: 78px;
	height: 78px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	margin-top: -20px;
}

.many-img {
	display: flex;
}

.div-img-many-img {
	margin: 0 2px;
}

/* sidebar */

.sidebar {
	display: flex;
	flex-direction: column;
	margin-left: 56px;
	flex-grow: 27;
	margin-right: 34px;
}

.first-sidebar-block {
	margin-bottom: 40px;
}

.sidebar-block {
	margin-bottom: 40px;
	position: relative;
}

.last-search {
	background: #F4EBD8;
}

.last-search::-webkit-input-placeholder {
	color: #9c8c6a;
	font-family: Georgia , sans-serif;
	font-size: 11px;
	font-style: italic;
}

.last-search::-moz-placeholder {
	color: #9c8c6a;
	font-family: Georgia , sans-serif;
	font-size: 11px;
	font-style: italic;
}

.last-search:-moz-placeholder {
	color: #9c8c6a;
	font-family: Georgia , sans-serif;
	font-size: 11px;
	font-style: italic;
}

.last-search:-ms-input-placeholder {
	color: #9c8c6a;
	font-family: Georgia , sans-serif;
	font-size: 11px;
	font-style: italic;
}

.icon-social {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.div-social-net {
	margin-top: 16px;
}

.mail-icon {
	position: absolute;
	right: 12px;
	bottom: 53px;
}

.btn-vote {
	font-family: Inerstate , sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	color: #278E7F;
	font-weight: bold;
	border: 0;
	background: white;
	padding: 10px;
	border-radius: 5px;
}

.btn-vote:hover {
	background: #F0E3C8;
	color: #A28D62;
}

.vote-main {
	margin-top: 24px;
	margin-bottom: 30px; 
}

.line-vote {
	background: #E3EBE5;
	height: 1px;
	margin: 8px 0 6px 0;
}


/* футер */

footer {
	display: flex;
	margin-bottom: 60px;
	height: 195px;
	background: url(../img/bg-footer.png);
	color: white;
}

.inner-footer {
	margin-top: 56px;
	display: flex;
}

.footer-first-block {
	margin-left: 56px;
	margin-right: 112px;
}

.div-footer-logo {
	margin-bottom: 20px;
}

.footer-logo {
	font-size: 34px;
	font-family: Lady-Copra , sans-serif;
}

.second-txt-first-block {
	font-size: 12px;
	font-family: Georgia , sans-serif;
	font-style: italic;
}

.footer-second-block {
	margin-right: 60px;
}

.a-footer {
	color: #9ACAC3;
	margin-bottom: 5px;
	font-size: 12px;
	font-family: Georgia , sans-serif;
	font-style: italic;
}

.a-footer:visited {
	color: #9ACAC3;
}

.footer-3-block {
	margin-right: 65px;
}

.footer-block {
	display: flex;
	flex-direction: column;
}

.img-footer {
	width: 16px;
	height: 16px;
}

.div-icon-footer {
	margin-top: 22px;
}